.background_image{
    background-image: url(https://image.freepik.com/free-vector/_36244-122.jpg);
    background-size: cover;
    position: relative;
    width: 500px;
    height: 500px;
}
.img{
    width: 52px;
    height: 52px;
}
.white_1{
    position: absolute;
    top: 30px;
    left: 30px;
}
.white_2{ 
    position: absolute;
    top: 85px;
    left: 30px;
    
}
.black_1{ 
    position: absolute;
    top: 418px;
    left: 30px;
    
}
.black_2{ 
    position: absolute;
    top: 360px;
    left: 30px;
    
}